body[data-dark] {
    background-color: #000;

    h1 {
        color: white;
    }

    .container, .table {
        color: #ccc;
    }

    .card-body,
    .chord-text,
    .card {
        background-color: #111;
        color: #ccc;
    }

    .card-header,
    .card-footer,
    .bg-light,
    .tag {
        background-color: #222 !important;
        color: #ccc;
    }

    .tag, div.filters .btn-group, div.filters .btn-group a, .tools {
        border-color: #555;
    }

    .song-tags .songbook-tag .songbook-number {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .border {
        border-color: #222 !important;
    }

    .search-home {
        background-color: black;
        color: white;
        border: 1px #999 solid;
        border-right: 0;
    }

    .search-submit {
        background-color: black;
        color: white;
        border: 1px #999 solid;
        border-left: 0;
    }

    .filter-active {
        background-color: #666;
    }

    .filter-open {
        background-color: #333;
    }

    .text-very-muted {
        color: #222;
    }

    .chosen .btn,
    .btn.chosen {
        background-color: rgba(255, 255, 255, 0.133);
    }


    .dark-mode-button {
        background-color: rgba(0, 0, 0, 0.5);
    }

    a {
        color: #7991e7;

        &:hover {
            color: #5d79e2;
        }
    }

    .tag-selected {
        border-color: black;
    }

    .tag:hover {
        color: white;
    }

    .v-skeleton-loader {
        filter: invert(1);
    }

    .bg-main-blue {
        background-color: #5d79e2 !important;
    }

    .table td {
        border-top-color: #222222;
    }
}
