$search-wrapper-height: 47px;

body {
    overflow-y: scroll !important;
}

.btn.search-report {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #292929;
    opacity: 0.5;
    transition: 0.2s;

    &:hover {
        color: #292929;
        opacity: 1;
    }
}

.footer-logo {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.5rem 0.8rem;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    }

    img {
        height: calc(2vh + 2vw);
        min-height: 15px;
        max-height: 40px;
    }
}

.search-home,
.form-control {
    line-height: calc((2.3775rem + 2px) / 1.5);
}

.search-wrapper {
    display: flex;
}

.search-home {
    display: inline-block;
    padding: 10px 20px;
    padding-right: 0;
    font-size: 16px;
    transition: 0.3s;
    height: $search-wrapper-height;
    border: none;
    background-color: white;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px #ccc solid;
    border-right: 0;
    width: calc(100% - 70px);

    @include media-breakpoint-down(xs) {
        .home-init & {
            width: calc(100% - 20px);
        }
    }

    &:focus {
        outline: none;
    }
}

.search-submit {
    cursor: pointer;
    transition: 0.3s;
    height: $search-wrapper-height;
    border: none;
    background-color: white;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1px #ccc solid;
    border-left: 0;
    width: 70px;

    &:hover {
        background-color: #eee;
    }
}

.filter-active {
    background-color: #bbb;
    color: white;
}

.filter-open {
    background-color: #ddd;
    color: black;
}

.filter-panel {
    max-height: calc(100vh - 47px - 3rem);
    width: calc(100% - 1.5rem);
    overflow: auto;
}

.song-tags {
    display: block;
}

.desktop-filter-container {
    .position-sticky {
        top: calc(47px + 4rem);
    }

    .song-tags {
        max-height: calc(100vh - 47px - 3.5rem - 66px);
        overflow: auto;
        margin-bottom: 0; // chrome fix
        padding-bottom: 0; // chrome fix of firefox fix

        a:last-child {
            margin-bottom: 1em; // firefox fix
        }
    }
}

div.filters {
    .btn-group {
        border-radius: 0.25rem;
        border: 1px solid #dee2e6;
        max-width: 100%;

        a {
            border-right: 1px solid #dee2e6;
            overflow: hidden;
            white-space: nowrap;
            border-radius: 0;

            i {
                margin-right: 0.5rem;
            }
        }

        a:last-child {
            margin-bottom: 0;
            border-right: none;
        }
    }
}

div.card.news {
    display: block;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;

    .news-item {
        padding: 0.25rem 0.5rem;
        display: inline-block;

        i {
            padding-right: 0.5rem;
        }
    }
}

.custom-progress-bar {
    opacity: 0;
    transition: 0.2s;
    margin-bottom: -4px;
}

.drawer-button {
    transition: transform 0.2s;
}

.drawer-button--opened {
    transform: rotate(45deg);
}
