$search-wrapper-height: 47px;

body.home {
    background-image: url("/img/bg_center.svg");
    background-color: #da3926;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    min-height: 100%;
    padding: 0;
    margin: 0;

    &[data-dark] {
        background-image: url("/img/bg_center_dark.svg");
        background-color: black;
    }

    &.home-scroll {
        overflow-y: scroll;
    }

    & > div, & > div > div:last-child, #app {
        min-height: inherit;
    }

    & > div {
        height: 1px;

        & > div:last-child {
            height: 100%;
        }
    }

    #app {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .card {
        opacity: 0.9;
    }
}

.search-balance {
    max-width: 0;
    padding: 0;
}

.home-afterinit {
    .logo-wrapper {
        opacity: 0;
        height: 0;
        margin-top: 0;
    }

    .search-balance {
        max-width: 100% / $grid-columns * 4; // .col-lg-4
    }
}

.logo-wrapper {
    text-align: center;
    margin-top: 10vh;
    transition: 0.5s;
    height: 160px;
    margin-right: -15px;
    margin-left: -15px;

    @include media-breakpoint-down(sm) {
        height: 60px;
    }

    @include media-breakpoint-down(xs) {
        height: 40px;
    }

    .logo {
        height: 130px;
        width: 130px;

        display: inline-block;
        position: relative;
        top: 27px;

        background-image: url(/img/logo_bubble.svg);
        background-position: center;
        background-size: 149%;

        @include media-breakpoint-down(sm) {
            top: 2px;
            height: 50px;
            width: 50px;

            margin-right: 6px;
        }

        @include media-breakpoint-down(xs) {
            top: 0;
            height: 30px;
            width: 30px;

            margin-right: 3px;
        }
    }

    .caption {
        font-size: 118px;
        color: white;

        line-height: 160px;

        font-family: "Cocogoose", "Arial Black", sans-serif;

        @include media-breakpoint-down(sm) {
            font-size: 60px;
            line-height: 60px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 40px;
            line-height: 40px;
        }
    }
}

.app-download {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    div * {
        color: white !important;
    }

    span.btn {
        background-color: transparent !important;
        cursor: initial !important;
    }
}

.btn.search-report {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #292929;
    opacity: 0.5;
    transition: 0.2s;

    &:hover {
        color: #292929;
        opacity: 1;
    }
}

.home-h1 {
    font: inherit;
    margin: 0;
    display: inline;
}

.search-home,
.form-control {
    line-height: calc((2.3775rem + 2px) / 1.5);
}

.search-wrapper {
    border-radius: 8px;
    display: flex;
}

.search-balance,
.search-column {
    transition: 0.4s;
}

.search-home {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.3s;
    height: $search-wrapper-height;
    border: none;
    background-color: white;
    border-radius: 8px 0 0 8px;
    border: 1px #ccc solid;
    border-right: 0;
    width: calc(100% - 70px);

    @include media-breakpoint-down(xs) {
        .home-init & {
            width: calc(100% - 20px);
        }
    }

    &:focus {
        outline: none;
    }
}

.search-submit {
    cursor: pointer;
    transition: 0.3s;
    height: $search-wrapper-height;
    border: none;
    background-color: white;
    border-radius: 0 8px 8px 0;
    border: 1px #ccc solid;
    border-left: 0;
    width: 70px;

    @include media-breakpoint-down(xs) {
        .home-init & {
            width: 20px;
        }
    }

    &:hover {
        background-color: #eee;
    }
}

.btn.btn-outline-light.display-all-songs {
    border-radius: 8px;
    background-color: rgba(218, 57, 38, 0.5);

    &:hover {
        background-color: rgba(218, 57, 38, 0.6);
    }
}

.filter-active {
    background-color: #bbb;
    color: white;
}

.filter-open {
    background-color: #ddd;
    color: black;
}

.filter-panel {
    max-height: calc(100vh - 47px - 3rem);
    width: calc(100% - 1.5rem);
    overflow: auto;
}

.desktop-filter-container {
    .position-sticky {
        top: calc(47px + 4rem);
    }

    .song-tags {
        max-height: calc(100vh - 47px - 3.5rem - 66px);
        overflow: auto;
        margin-bottom: 0; // chrome fix
        padding-bottom: 0; // chrome fix of firefox fix

        a:last-child {
            margin-bottom: 1em; // firefox fix
        }
    }
}

div.filters {
    .btn-group {
        border-radius: 0.125rem;
        border: 1px solid #dee2e6;
        max-width: 100%;

        a {
            border-right: 1px solid #dee2e6;
            overflow: hidden;
            white-space: nowrap;

            i {
                margin-right: 0.5rem;
            }
        }

        a:last-child {
            margin-bottom: 0;
            border-right: none;
        }
    }
}

.song-tags--init-filters {
    overflow: hidden;
    height: 3.8em;
    opacity: 0;
    transition: opacity .5s;

    a.tag {
        border: none !important;
        margin-bottom: 2em;
        opacity: .7;

        &:hover {
            opacity: 1;
        }
    }

    a.tag--filter-icon {
        background-color: transparent !important;
    }

    &:hover {
        .tag--filter-icon {
            opacity: 1;
        }
    }
}

/**
View: Search results
 */
.search-basic {
    max-width: 500px;
    display: inline-block;
}

.result-table {
    width: auto;
}

div.card.news {
    display: block;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;

    .news-item {
        padding: 0.25rem 0.5rem;
        display: inline-block;

        i {
            padding-right: 0.5rem;
        }
    }

    .justify-content-center & {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;

        .news-item {
            display: inline;
        }

        .news-opener {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 5%;
            max-width: 3rem;
            cursor: pointer;
        }
    }
}

.custom-progress-bar {
    opacity: 0;
    transition: 0.2s;
    margin-bottom: -4px;
}
