.song-title {
    margin: 0;
    padding-bottom: 0;
}

.song-number {
    color: #9a9a9a;
}

.tools {
    border: solid #dee2e6;
    border-width: 1px 0;
}

.anchor {
    position: relative;
    top: calc(-1 * (4rem + 47px));
    visibility: hidden;
}

.zindex-lower {
    z-index: 199;
}

.chosen .btn,
.btn.chosen {
    background-color: rgba(0, 0, 0, 0.133);
}

.media-card {
    max-height: 50vh;
}

.media-opener {
    border-top: 1px #eee solid;

    body[data-dark] & {
        border-top: 1px #222 solid;
    }

    padding: 0.5rem 1rem;
    cursor: pointer;

    &:first-of-type,
    &:nth-of-type(2) {
        border-top: none;
    }

    i {
        padding-right: 5px;
        width: 20px;
        text-align: center;
    }
}

.controls {
    z-index: 199;

    .btn {
        margin-bottom: 0;
    }

    .card {
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.12);
    }

    .btn.btn-secondary.transpose-window {
        width: 4em;
    }

    a span {
        padding-left: 5px;
    }
}

.cross {
    z-index: 5;
}

.toolbox {
    padding: 0.25rem !important;
    margin-bottom: 0.25rem !important;

    background: white;

    body[data-dark] & {
        background: black;
    }

    &.toolbox-u {
        margin-top: 0.25rem !important;
        margin-bottom: 0 !important;
    }

    .toolbox-item {
        text-align: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        margin: 0.25rem;
        display: inline-block;
        border-radius: 0.125rem;
        border: 1px solid #dee2e6;

        &.hidden-toolbox-item {
            opacity: 0.3;
            pointer-events: none;
        }

        body[data-dark] & {
            border-color: #211d19;
        }
    }
}

a.tag {
    cursor: pointer;
}

.tag {
    padding: 0.1em 0.7em;
    margin-bottom: 0.5em;
    margin-right: 7px;
    border-radius: 0.5rem;
    color: black;
    text-align: center;
    display: inline-block;
    transition: 0.2s;
    border: #bfbfbf 1px solid;
    background-color: #ffffff;

    &:hover {
        text-decoration: none;
    }

    &.tag-selected {
        opacity: 1 !important;
    }

    &.tag-category {
        border-color: transparent !important;
        padding-left: 0;
        padding-right: 0;
        width: 2rem;
    }
}

/*! purgecss start ignore */
.tag-blue {
    &:hover {
        background-color: lighten($main-blue, 40%);
    }

    &.tag-selected {
        background-color: $main-blue !important;
        color: white !important;
    }
}

.tag-green {
    &:hover {
        background-color: lighten($main-green, 60%);
    }

    &.tag-selected {
        background-color: $main-green !important;
        color: white !important;
    }
}

.tag-yellow {
    &:hover {
        background-color: lighten($main-yellow, 20%);
    }

    &.tag-selected {
        background-color: $main-yellow !important;
        color: black !important;
    }
}

.tag-red {
    &:hover {
        background-color: lighten($main-red, 20%);
    }

    &.tag-selected {
        background-color: $main-red !important;
        color: white !important;
    }
}
/*! purgecss end ignore */

.songbook-tag {
    padding: 0;
    display: flex;

    .songbook-name {
        padding: 0.1em 0.7em;
        padding-right: 0.6em;
    }

    .songbook-number {
        padding: 0.1em 0.7em;
        padding-left: 0.6em;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 0 0.5rem 0.5rem 0;
        display: flex;
        align-items: center;
    }
}

.v-skeleton-loader__chip {
    max-width: 100%;
}
