.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-very-muted {
    color: #efefef;
}

.no-left-padding {
    padding-left: 2px !important;
}

.stretched-link {
    position: static;
    will-change: initial;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}

.w-min {
    width: 1%;
}

.bg-main-blue {
    background-color: $main-blue !important;
}

.opacity-1 {
    opacity: 1;
}
