.material-shadow {
    -webkit-box-shadow: #1a1f21c2 2px 2px 6px;
    box-shadow: #1a1f21c2 2px 2px 6px;
}

.material-shadow-text {
    text-shadow: #1a1f21c2 2px 2px 6px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.text-very-muted {
    color: #efefef;
}

.no-left-padding {
    padding-left: 2px !important;
}

.stretched-link {
    position: static;
    will-change: initial;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;

    @include media-breakpoint-down(sm) {
        position: relative;
        height: auto;
        padding-top: 1rem;
        width: 100%;
    }
}

.minw-45 {
    min-width: 45%;
}

.w-min {
    width: 1%;
}

.bg-main-blue {
    background-color: $main-blue !important;
}

.opacity-1 {
    opacity: 1;
}
