@import url("https://fonts.googleapis.com/css?family=Nunito:200,400,600");

@import "variables";
$main-red: #d83027;
$main-blue: map-get($theme-colors, "primary");
$main-green: #098845;
$main-yellow: #faa61b;

@import '~bootstrap';
//@import '~bootstrap-vue';

@import "base";
@import "navbar";
@import "cards";
@import "search";
@import "song";
@import "dark";
@import "print";
@import "utility";
